#login-screen {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

#login-screen h2 {
    margin-bottom: 15px;
}

#login-error {
    color: red;
    font-size: 0.9em;
}
